<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="/">Northwind API</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/docs">docs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api">API</a>
        </li>
    </ul>
</nav>